<form class="{{cssClass}} lancer-sheet" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header card clipped-bot">
    <div class="flexcol grow">
      <h1 class="charname"><input class="header-field" name="name" type="text" value="{{item.name}}" placeholder="{{localize "lancer.placeholder.name"}}"/></h1>
      <input class="header-field" style="margin: 8px 2%; width: 96%;" name="item.system.role" type="text" value="{{item.system.role}}" placeholder="{{localize "lancer.placeholder.npc_class_role"}}"/>
    </div>
    {{{ ref-portrait-img item.img "img" system.}}}
  </header>

  {{!-- Description --}}
  {{{textarea-card (localize "lancer.common-sheet.label.description") "system.flavor"}}}
  {{{textarea-card (localize "lancer.common-sheet.label.tactics") "system.tactics"}}}

  {{!-- Frame Stats --}}
  <div class="card clipped wraprow quadruple">
    <div class="wraprow quadruple">
      {{{npc-clicker-statblock-card (localize "lancer.stats.hull") "system.base_stats" "hull"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.agi") "system.base_stats" "agi"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.sys") "system.base_stats" "sys"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.eng") "system.base_stats" "eng"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.armor") "system.base_stats" "armor"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.hp") "system.base_stats" "hp"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.structure") "system.base_stats" "structure"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.stress") "system.base_stats" "stress"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.evasion") "system.base_stats" "evasion"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.edef") "system.base_stats" "edef"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.heat") "system.base_stats" "heatcap"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.speed") "system.base_stats" "speed"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.activate") "system.base_stats" "activations"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.sensor_range") "system.base_stats" "sensor_range"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.save") "system.base_stats" "save"}}}
      {{{npc-clicker-statblock-card (localize "lancer.stats.size") "system.base_stats" "size"}}}
    </div>
  </div>

  <div class="flexcol card clipped-top lancer-border-primary" style="margin: 10px;">
    <div class="lancer-header lancer-primary major">
      <span class="major">{{ localize "lancer.npc-sheet.features.base-features" }}</span>
    </div>

    {{{lid-item-list "system.base_features" base_features "npc_feature"}}}
  </div>

  <div class="flexcol card clipped-top lancer-border-primary" style="margin: 10px;">
    <div class="lancer-header lancer-primary major">
      <span class="major">{{ localize "lancer.npc-sheet.features.opt-features" }}</span>
    </div>

    {{{lid-item-list "system.optional_features" optional_features "npc_feature"}}}
  </div>

</form>
